/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

/*
 *= require_tree .
 *= require_self
 */

 .button-custom {
  background-color: #ff7f7f; /* 背景色 (薄いピンクなど) */
  color: white; /* 文字色 */
  padding: 10px 20px; /* 内側の余白 */
  border-radius: 25px; /* 角を丸く */
  border: none; /* 枠線を無くす */
  font-size: 16px; /* フォントサイズ */
  cursor: pointer; /* マウスカーソルをポインタに */
  transition: background-color 0.3s; /* ホバー時の効果 */
}

.button-custom:hover {
  background-color: #ff4c4c; /* ホバー時の色 */
}

  